.Title {
    font-size: 180%;
    text-align: center;
}

.Card {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
}

.CardImg {
    display: block;
    margin: auto;
    width: 400px;
    padding: 10px;
    border-radius: 30px;
}